<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569705984552-j1tuqm47n80u1fk035c78qag3mo1r3to.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569705984552-j1tuqm47n80u1fk035c78qag3mo1r3to</string>
	<key>API_KEY</key>
	<string>AIzaSyDT1mf3NJlkcbCb8d9BW9AZ4aOLHoqskPU</string>
	<key>GCM_SENDER_ID</key>
	<string>569705984552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coppellisd.CISDStudentCentral</string>
	<key>PROJECT_ID</key>
	<string>student-central-resources</string>
	<key>STORAGE_BUCKET</key>
	<string>student-central-resources.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569705984552:ios:3afebe994e9368a2cc7b1d</string>
</dict>
</plist>